.footer {
    text-align: center;
    padding: 20px 0px;
    border-top: 1px solid #eee;
    color: #777;
    background-color: black;
}

.footer-links li {
    display: inline;
    margin: 0 10px;
}

.footer-links a {
    color: #777;
    text-decoration: none;
}